<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加管理员 - 管理员管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="adminName" name="adminName">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" id="sex-1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="sex">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="@" name="email" id="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="adminRole" size="1">
				<option value="0">超级管理员</option>
				<option value="1">总编</option>
				<option value="2">栏目主辑</option>
				<option value="3">栏目编辑</option>
			</select>
			</span> </div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			password:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#password"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "xxxxxxx" ,
				success: function(data){
					layer.msg('添加成功!',{icon:1,time:1000});
					var index = parent.layer.getFrameIndex(window.name);
					parent.$('.btn-refresh').click();
					parent.layer.close(index);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		}
	});
});
$(function(){
	// 初始化单选框和复选框的美化插件
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	// 判断是否是编辑模式
	var adminId = getUrlParam("id");
	if(adminId) {
		// 加载管理员信息
		loadAdminInfo(adminId);
		// 修改表单提交处理函数
		$("#form-admin-add").attr("onsubmit", "return updateAdmin();");
	} else {
		// 新增模式，使用默认的表单提交处理
		$("#form-admin-add").attr("onsubmit", "return addAdmin();");
	}

	// 表单验证
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			password:{
				required: function() {
					// 编辑模式下密码可以为空，新增模式下必填
					return !adminId;
				}
			},
			password2:{
				required: function() {
					// 编辑模式下密码可以为空，新增模式下必填
					return !adminId;
				},
				equalTo: "#password"
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid"
	});
});

// 加载管理员信息
function loadAdminInfo(adminId) {
	$.ajax({
		type: "GET",
		url: "/admin/detail/" + adminId,
		dataType: "json",
		success: function(res) {
			if(res.code == 0 && res.data) {
				var admin = res.data;
				// 填充表单
				$("#adminName").val(admin.adminName);
				$("#phone").val(admin.adminPhone);
				$("#email").val(admin.adminMailbox);
				$("#adminRole").val(admin.adminLevel);

				// 设置表单标题
				$(".page-container .form-label:first").text("编辑管理员：");

				// 隐藏密码相关字段
				$(".password-field").hide();

				// 添加隐藏字段保存管理员ID
				$("#form-admin-add").append('<input type="hidden" name="adminId" id="adminId" value="' + admin.adminId + '">');
			} else {
				layer.msg(res.msg || "获取管理员信息失败", {icon: 2, time: 2000});
			}
		},
		error: function() {
			layer.msg("获取管理员信息失败，请检查网络连接", {icon: 2, time: 2000});
		}
	});
}

// 添加管理员
function addAdmin() {
	// 表单验证已经通过validate插件完成，这里直接提交
	var formData = {
		adminName: $("#adminName").val(),
		adminPhone: $("#phone").val(),
		adminMailbox: $("#email").val(),
		adminLevel: $("#adminRole").val(),
		// 添加密码字段（实际应用中需要在后端加密）
		password: $("#password").val()
	};

	// 获取性别
	if($("#sex-1").is(":checked")) {
		formData.sex = "男";
	} else if($("#sex-2").is(":checked")) {
		formData.sex = "女";
	}

	$.ajax({
		type: "POST",
		url: "/admin/save",
		contentType: "application/json",
		data: JSON.stringify(formData),
		dataType: "json",
		success: function(res) {
			if(res.code == 0) {
				layer.msg('添加成功!', {icon: 1, time: 1000}, function() {
					// 关闭当前弹窗
					var index = parent.layer.getFrameIndex(window.name);
					// 刷新父页面表格
					parent.$('.btn-refresh').click();
					// 关闭弹窗
					parent.layer.close(index);
				});
			} else {
				layer.msg(res.msg || '添加失败!', {icon: 2, time: 2000});
			}
		},
		error: function() {
			layer.msg('添加失败，请检查网络连接!', {icon: 2, time: 2000});
		}
	});

	return false; // 阻止表单默认提交
}

// 更新管理员
function updateAdmin() {
	// 表单验证已经通过validate插件完成，这里直接提交
	var formData = {
		adminId: $("#adminId").val(),
		adminName: $("#adminName").val(),
		adminPhone: $("#phone").val(),
		adminMailbox: $("#email").val(),
		adminLevel: $("#adminRole").val()
	};

	// 获取性别（扩展字段，实际表里不一定有）
	if($("#sex-1").is(":checked")) {
		formData.sex = "男";
	} else if($("#sex-2").is(":checked")) {
		formData.sex = "女";
	}

	$.ajax({
		type: "POST",
		url: "/admin/update",
		contentType: "application/json",
		data: JSON.stringify(formData),
		dataType: "json",
		success: function(res) {
			if(res.code == 0) {
				layer.msg('更新成功!', {icon: 1, time: 1000}, function() {
					// 关闭当前弹窗
					var index = parent.layer.getFrameIndex(window.name);
					// 刷新父页面表格
					parent.$('.btn-refresh').click();
					// 关闭弹窗
					parent.layer.close(index);
				});
			} else {
				layer.msg(res.msg || '更新失败!', {icon: 2, time: 2000});
			}
		},
		error: function() {
			layer.msg('更新失败，请检查网络连接!', {icon: 2, time: 2000});
		}
	});

	return false; // 阻止表单默认提交
}

// 获取URL参数
function getUrlParam(name) {
	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	var r = window.location.search.substr(1).match(reg);
	if(r != null) return unescape(r[2]); return null;
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>