<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/red/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>搜索结果</title>
</head>
<body>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">用户名</th>
                <th>密码</th>
                <th width="40">性别</th>
                <th width="90">手机号</th>
                <th width="150">邮箱</th>
                <th width="50">会员等级</th>
                <th width="130">创建时间</th>
                <th width="130">修改时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody id="searchResults">
            <!-- 动态插入搜索结果 -->
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<script type="text/javascript">
    $(document).ready(function() {
        // 从 URL 参数中获取搜索结果
        var urlParams = new URLSearchParams(window.location.search);
        var customerlistParam = urlParams.get('customerlist');
        var totalParam = urlParams.get('total');

        // 解析 customerlist 参数
        var customerlist = customerlistParam ? JSON.parse(decodeURIComponent(customerlistParam)) : [];

        // 更新页面内容
        var tbody = $('#searchResults');
        if (customerlist && customerlist.length > 0) {
            customerlist.forEach(function(customer) {
                var row = '<tr>';
                row += '<td>' + customer.customerId + '</td>';
                row += '<td>' + customer.customerName + '</td>';
                row += '<td>' + customer.customerPassword + '</td>';
                row += '<td>' + customer.customerSex + '</td>';
                row += '<td>' + customer.customerNumber + '</td>';
                row += '<td>' + customer.customerMailbox + '</td>';
                row += '<td>' + customer.customerLevel + '</td>';
                row += '<td>' + customer.gmtCreate + '</td>';
                row += '<td>' + customer.gmtModify + '</td>';
                row += '<td class="f-14 td-manage">';
                row += '<a style="text-decoration:none" class="ml-5" onclick="page_show(\'下架编辑\', \'/offlinecustomer/\' + ' + customer.customerId + ', \'\')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>';
                row += '<a style="text-decoration:none" class="ml-5" onclick="page_show(\'用户编号：\'+' + customer.customerId + ',\'/editcustomer/\'+' + customer.customerId + ',\'\')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>';
                row += '<a style="text-decoration:none" class="ml-5" onclick="member_del(this,' + customer.customerId + ')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>';
                row += '</td>';
                row += '</tr>';
                tbody.append(row);
            });
        } else {
            tbody.append('<tr><td colspan="10" style="text-align: center;">No data found</td></tr>');
        }

        // 更新总记录数
        $('strong').text(totalParam);
    });

    /*用户-添加*/
    function member_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    // 用户-查看
    function member_show(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }
    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function(index) {
            $.ajax({
                type: 'POST',
                url: '/offlinecustomer/offline_confirm',
                data: {
                    customerid: id
                },
                success: function(response) {
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,' + id + ')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                    $(obj).remove();
                    layer.msg('已停用!', {icon: 5, time: 1000});
                },
                error: function(data) {
                    console.error("Error:", data); // 错误日志
                    layer.msg('停用失败!', {icon: 2, time: 1000});
                },
            });
        });
    }

    /*用户-启用*/
    function member_start(obj, id) {
        layer.confirm('确认要启用吗？', function(index) {
            $.ajax({
                type: 'POST',
                url: '/offlinecustomer/offline_confirm',
                data: {
                    customerid: id
                },
                success: function(response) {
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,' + id + ')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!', {icon: 6, time: 1000});
                },
                error: function(data) {
                    console.error("Error:", data); // 错误日志
                    layer.msg('启用失败!', {icon: 2, time: 1000});
                },
            });
        });
    }

    /*用户-编辑*/
    function member_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*密码-修改*/
    function change_password(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    function page_show(title, url, extra) {
        layer.open({
            type: 2, // iframe层
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '520px'], // 宽高
            content: url // iframe的url
        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            $.ajax({
                type: 'POST',
                url: '/deleteCustomer', // 假设删除操作的 URL 是 /deleteCustomer
                data: {
                    customerid: id
                },
                success: function(response) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function(data) {
                    console.error("Error:", data); // 错误日志
                    layer.msg('删除失败!', {icon: 2, time: 1000});
                },
            });
        });
    }

    /*通用方法：显示层*/
    function layer_show(title, url, w, h) {
        layer.open({
            type: 2,
            title: title,
            area: [w + 'px', h + 'px'],
            fix: false, //不固定
            maxmin: true,
            shade: 0.4,
            shadeClose: true,
            content: url
        });
    }
</script>
</body>
</html>
